[wifi]
WIFI_ENABLE_AUTODETECT = false
WIFI_WB_LINK_CARDS = wlx20e15d3dc192
WIFI_WIFI_HOTSPOT_CARD = wlp0s20f3
WIFI_MONITOR_CARD_EMULATE = false
WIFI_FORCE_NO_LINK_BUT_HOTSPOT = false
WIFI_LOCAL_NETWORK_ENABLE = false
WIFI_LOCAL_NETWORK_SSID =
WIFI_LOCAL_NETWORK_PASSWORD =

[network]
NW_ETHERNET_CARD =
NW_MANUAL_FORWARDING_IPS =
NW_FORWARD_TO_LOCALHOST_58XX = false
